<%- include('../partials/barramenu') %>
        <div class="container">
            <div class="row">
                <div class="jumbotron ">
                    <h1>
                        CATÁLOGO DE ODONTÓLOGOS
                    </h1>
               </div>
            </div>

            <div>
                <form class="form-inline" action="/bodonto" method="get">
                    <div class="form-group">
                        <input class="form-control" id="b" name="search" placeholder="Ingrese un nombre a buscar" type="text">
                        <button type="submit" type="button" class="btn btn-primary"> Buscar <i class="bi bi-search"></i></button>
                    </div>
                   
                </form>
            </div> 
                   
    
            <div class="container">
    
                <ul class="nav nav-tabs justify-content-end">
                    <li class="nav-item">
                    <a class="nav-link active" id="list-tab" data-toggle="tab" href="/godonto" role="tab" aria-controls="list" aria-selected="false">Lista</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="form-tab" data-toggle="tab" href="/rodonto" role="tab" aria-controls="form" aria-selected="true">Registrar</a>				   	
                    </li>
                </ul>
                
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                        <div class="card">
                            <div class="card-header">
                                <h4>Lista</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="userList" class="table table-bordered table-hover table-striped">
                                        <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Edad</th>
                                            <th scope="col">FechaNac</th>
                                            <th scope="col">Correo</th>
                                            <th scope="col">Consultorio</th>
                         
                                            <th scope="col">Teléfono</th>
    
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let i=0; i < odontologos.length; i++) { %>
                                            <tr>
                                                <td scope="col"><%= i+1 %></td>
                                                <td scope="col"><%= odontologos[i].user %></td>
                                                <td scope="col"><%= odontologos[i].nombre%></td>
                                                <td scope="col"><%= odontologos[i].edad%></td>
                                                <td scope="col"><%= odontologos[i].fechaNac%></td>
                                                <td scope="col"><%= odontologos[i].correo%></td>
                                                <td scope="col"><%= odontologos[i].idConsul%></td>
                                         
                                                <td scope="col"><%= odontologos[i].telefono%></td>
                                                <td scope="row p-3">
                                                <form action="/godonto/delete" method="post">
                                                    <input type="hidden" name="user" value=<%= odontologos[i].user %>>
                                                    <button class="btn btn-outline-danger bi bi-trash" type="submit" ></button>
                                                </form>
                                                <form action="/modonto" method="post">                            
                                                    <input type="hidden" name="user" value=<%= odontologos[i].user %>>
                                                    <button class="btn btn-outline-primary bi bi-pencil" type="submit"></button>
                                                </form>                           
                                                </td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
        
                            </div>
                        </div>
                    </div>
                    
                </div>    
            
            </div>
        </div>

    </body>
</html>